* {
    text-align: center;
    background-color: rgb(151, 202, 189);
}

a {
    color: black;
    
}

li {
    margin-bottom: 24px;
    display: block;
    margin-left: 0px auto;
    padding-bottom: 45px;
}
img {
    border-radius: 5%;
}